// /* Always set the map height explicitly to define the size of the div
// * element that contains the map. */
#map {
    height: 100%;
}

// /* Optional: Makes the sample page fill the window. */

table {
    font-size: 12px;
}

#map {
    // width: 440px;
}

#listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#findhotels {
    position: absolute;
    text-align: right;
    width: 100px;
    font-size: 14px;
    padding: 4px;
    z-index: 5;
    background-color: #fff;
}

#locationField {
    position: absolute;
    width: 190px;
    height: 25px;
    left: 108px;
    top: 0px;
    z-index: 5;
    background-color: #fff;
}

#controls {
    position: absolute;
    left: 300px;
    width: 140px;
    top: 0px;
    z-index: 5;
    background-color: #fff;
}

#autocomplete {
    width: 100%;
}

#country {
    width: 100%;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 240px;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

// /* Always set the map height explicitly to define the size of the div
//        * element that contains the map. */
#map {
    height: 100%;
}

// /* Optional: Makes the sample page fill the window. */
html,
body {
    // height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

// /*////////////////////////////////////////////////*/
.gm-style-iw div div {
    overflow: hidden !important;
}

.ui-widget {
    // position:absolute;
    // z-index:2;
    // top:10%;
    // left:10%;
    // background-color:#fff;
    // padding:1em;
}

#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

#project-icon {
    float: left;
    height: 32px;
    width: 32px;
}

#project-description {
    margin: 0;
    padding: 0;
}



.map_spinner {
    width: 50px;
    height: 50px;
    margin: -25px auto;
    background-color: #ff4e19;
    position: absolute;
    z-index: 99999999; // left:50%;
    // right:50%;
    top: 50%; // bottom:0;
    left: 0;
    right: 0;
    outline: 0;
    border-radius: 100%;
    animation: sk-scaleout .6s infinite ease-in-out;
    display: none;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}