// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-dark-name: 'arrow_dark';
$arrow-dark-x: 0px;
$arrow-dark-y: 37px;
$arrow-dark-offset-x: 0px;
$arrow-dark-offset-y: -37px;
$arrow-dark-width: 9px;
$arrow-dark-height: 16px;
$arrow-dark-total-width: 31px;
$arrow-dark-total-height: 199px;
$arrow-dark-image: '../img/sprite.png';
$arrow-dark: (0px, 37px, 0px, -37px, 9px, 16px, 31px, 199px, '../img/sprite.png', 'arrow_dark', );
$arrow-down-dark-name: 'arrow_down_dark';
$arrow-down-dark-x: 0px;
$arrow-down-dark-y: 0px;
$arrow-down-dark-offset-x: 0px;
$arrow-down-dark-offset-y: 0px;
$arrow-down-dark-width: 11px;
$arrow-down-dark-height: 7px;
$arrow-down-dark-total-width: 31px;
$arrow-down-dark-total-height: 199px;
$arrow-down-dark-image: '../img/sprite.png';
$arrow-down-dark: (0px, 0px, 0px, 0px, 11px, 7px, 31px, 199px, '../img/sprite.png', 'arrow_down_dark', );
$arrow-light-name: 'arrow_light';
$arrow-light-x: 0px;
$arrow-light-y: 53px;
$arrow-light-offset-x: 0px;
$arrow-light-offset-y: -53px;
$arrow-light-width: 10px;
$arrow-light-height: 16px;
$arrow-light-total-width: 31px;
$arrow-light-total-height: 199px;
$arrow-light-image: '../img/sprite.png';
$arrow-light: (0px, 53px, 0px, -53px, 10px, 16px, 31px, 199px, '../img/sprite.png', 'arrow_light', );
$baloon-name: 'baloon';
$baloon-x: 0px;
$baloon-y: 125px;
$baloon-offset-x: 0px;
$baloon-offset-y: -125px;
$baloon-width: 16px;
$baloon-height: 22px;
$baloon-total-width: 31px;
$baloon-total-height: 199px;
$baloon-image: '../img/sprite.png';
$baloon: (0px, 125px, 0px, -125px, 16px, 22px, 31px, 199px, '../img/sprite.png', 'baloon', );
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 105px;
$clock-offset-x: 0px;
$clock-offset-y: -105px;
$clock-width: 20px;
$clock-height: 20px;
$clock-total-width: 31px;
$clock-total-height: 199px;
$clock-image: '../img/sprite.png';
$clock: (0px, 105px, 0px, -105px, 20px, 20px, 31px, 199px, '../img/sprite.png', 'clock', );
$lupa-name: 'lupa';
$lupa-x: 0px;
$lupa-y: 87px;
$lupa-offset-x: 0px;
$lupa-offset-y: -87px;
$lupa-width: 18px;
$lupa-height: 18px;
$lupa-total-width: 31px;
$lupa-total-height: 199px;
$lupa-image: '../img/sprite.png';
$lupa: (0px, 87px, 0px, -87px, 18px, 18px, 31px, 199px, '../img/sprite.png', 'lupa', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 22px;
$mail-offset-x: 0px;
$mail-offset-y: -22px;
$mail-width: 17px;
$mail-height: 15px;
$mail-total-width: 31px;
$mail-total-height: 199px;
$mail-image: '../img/sprite.png';
$mail: (0px, 22px, 0px, -22px, 17px, 15px, 31px, 199px, '../img/sprite.png', 'mail', );
$monitor-name: 'monitor';
$monitor-x: 0px;
$monitor-y: 7px;
$monitor-offset-x: 0px;
$monitor-offset-y: -7px;
$monitor-width: 17px;
$monitor-height: 15px;
$monitor-total-width: 31px;
$monitor-total-height: 199px;
$monitor-image: '../img/sprite.png';
$monitor: (0px, 7px, 0px, -7px, 17px, 15px, 31px, 199px, '../img/sprite.png', 'monitor', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 147px;
$phone-offset-x: 0px;
$phone-offset-y: -147px;
$phone-width: 13px;
$phone-height: 22px;
$phone-total-width: 31px;
$phone-total-height: 199px;
$phone-image: '../img/sprite.png';
$phone: (0px, 147px, 0px, -147px, 13px, 22px, 31px, 199px, '../img/sprite.png', 'phone', );
$phone-call-name: 'phone_call';
$phone-call-x: 0px;
$phone-call-y: 169px;
$phone-call-offset-x: 0px;
$phone-call-offset-y: -169px;
$phone-call-width: 31px;
$phone-call-height: 30px;
$phone-call-total-width: 31px;
$phone-call-total-height: 199px;
$phone-call-image: '../img/sprite.png';
$phone-call: (0px, 169px, 0px, -169px, 31px, 30px, 31px, 199px, '../img/sprite.png', 'phone_call', );
$services-name: 'services';
$services-x: 0px;
$services-y: 69px;
$services-offset-x: 0px;
$services-offset-y: -69px;
$services-width: 18px;
$services-height: 18px;
$services-total-width: 31px;
$services-total-height: 199px;
$services-image: '../img/sprite.png';
$services: (0px, 69px, 0px, -69px, 18px, 18px, 31px, 199px, '../img/sprite.png', 'services', );
$spritesheet-width: 31px;
$spritesheet-height: 199px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-dark, $arrow-down-dark, $arrow-light, $baloon, $clock, $lupa, $mail, $monitor, $phone, $phone-call, $services, );
$spritesheet: (31px, 199px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
