// vars for media-queries
// exampl:
//      @include screen($littleboy-min, $littleboy-max){
//          background-color: #000;
//      }

// // widths
// $littleboy-min: 0px;
// $littleboy-max: 480px;
// ////////////////////////////////
// $middleboy-min: 320px;
// $middleboy-max: 568px;
// //////////////////////////////
// $olderboy-min: 414px;
// $olderboy-max: 736px;
// //////////////////////////////
$mainMaxWidt:1920px;
$mainMiddleWidt:1440px;
$mainMinWidt:1024px;
$anyPageContentWidt:637px;
$asideWidt:22%;
$articleWidt:72%;



// main colors
$lightGrey:#f4f4f4;
$lightFontColor:#f4f4f4;
$grey:#acacac;
$yellow:#ff4e19;
$orange:#FD4C12;
$darkGrey:#323232;
$darkFontColor:#545454;
$blackColor:#131313;
$blue:#4376cb;