// Google Fonts
// opensans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&subset=cyrillic');
// clearSans

// @font-face {
//     font-family: 'Conv_Pragmatica';
//     src: url('fonts/PragmaticaBook-Reg.eot');
//     src: local('☺'), url('fonts/PragmaticaBook-Reg.woff') format('woff'), url('fonts/PragmaticaBook-Reg.ttf') format('truetype'), url('fonts/PragmaticaBook-Reg.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Conv_Pragmatica Light';
//     src: url('fonts/PragmaticaLight.eot');
//     src: local('☺'), url('fonts/PragmaticaLight.woff') format('woff'), url('fonts/PragmaticaLight.ttf') format('truetype'), url('fonts/PragmaticaLight.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Conv_Pragmatica Light Italic';
//     src: url('fonts/PragmaticaLight-Oblique.eot');
//     src: local('☺'), url('fonts/PragmaticaLight-Oblique.woff') format('woff'), url('fonts/PragmaticaLight-Oblique.ttf') format('truetype'), url('fonts/PragmaticaLight-Oblique.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Conv_Pragmatica Italic';
//     src: url('fonts/PragmaticaLight-Oblique.eot');
//     src: local('☺'), url('fonts/PragmaticaLight-Oblique.woff') format('woff'), url('fonts/PragmaticaLight-Oblique.ttf') format('truetype'), url('fonts/PragmaticaLight-Oblique.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Conv_Pragmatica Bold';
//     src: url('fonts/PragmaticaBlack.eot');
//     src: local('☺'), url('fonts/PragmaticaBlack.woff') format('woff'), url('fonts/PragmaticaBlack.ttf') format('truetype'), url('fonts/PragmaticaBlack.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Conv_Pragmatica BoldItalic';
//     src: url('fonts/PragmaticaBold-Obl.eot');
//     src: local('☺'), url('fonts/PragmaticaBold-Obl.woff') format('woff'), url('fonts/PragmaticaBold-Obl.ttf') format('truetype'), url('fonts/PragmaticaBold-Obl.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }



// $Pragmatica: 'Conv_Pragmatica';
// $PragmaticaL: 'Conv_Pragmatica Light';
// $PragmaticaLI: 'Conv_Pragmatica Light Italic';
// $PragmaticaB: 'Conv_Pragmatica Bold';
// $PragmaticaBI: 'Conv_Pragmatica BoldItalic';
// $PragmaticaI: 'Conv_Pragmatica Italic';


// $clearsansBold: 'clear_sansbold';
// $clearsansBoldItalic: 'clear_sansbold_italic';
// $clearsansItalic: 'clear_sansitalic';
// $clearsansLightRegular: 'clear_sans_lightregular';
// $clearsansMediumRegular: 'clear_sans_mediumregular';
// $clearsansMediumItalic: 'clear_sans_mediumitalic';
// $clearsansThinRegular: 'clear_sans_thinregular';
