        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -32.5px 0 0 -34.5px;
            transition: all ease .3s;
            background-image: url(../img/overview.png);
            width: 69px;
            height: 65px;
            opacity: 0;
        }
        
        &:hover {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.7);
                display: block;
                width: 100%;
                height: 100%;
                // transform: translateY(-15px);
                z-index: 2;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -32.5px 0 0 -34.5px;
                background-image: url(../img/overview.png);
                background-repeat: no-repeat;
                display: block;
                // width: 100%;
                // height: 100%;
                // transform: translateY(-15px);
                width: 69px;
                height: 65px;
                z-index: 3;
                opacity: 1;
            }
        }
