.icon {
    // line-height:0.2em;
    // width: 20px; // padding:1em;
    &_wrap {
        width: 30px;
        height: auto;
        text-align: center;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}


// иконки
.phone_icon {
    @include sprite($phone);
    display: inline-block;
}

.mail_icon {
    @include sprite($mail);
    display: inline-block;
}

.site_icon {
    @include sprite($monitor);
    display: inline-block;
}

.clock_icon {
    @include sprite($clock);
    display: inline-block;
}

.baloon_icon {
    @include sprite($baloon);
    display: inline-block;
}
.lupa_icon {
    @include sprite($lupa);
    display: inline-block;
}
.arrow_dark {
    @include sprite($arrow_dark);
    display: inline-block;
}
.arrow_light {
    @include sprite($arrow_light);
    display: inline-block;
}
.services {
    @include sprite($services);
    display: inline-block;
}


