.column_lists
    .column_list
        .column_list_name
            ul
                li
                    span.icon.baloon_icon_mini
                    span.column_list_text
                        b САНКТ-ПЕТЕРБУРГ
                li
                    span.icon
                    span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                li
                    span.icon.phone_icon
                    span.column_list_text 
                        b Тел.
                        a(href="tel:000000") +7 (812) 702 36 37
                li
                    span.icon.clock_icon
                    span.column_list_text
                        b Режим работы: 
                        |пн. - пт. 10:00 - 19:00
                li
                    span.icon.mail_icon
                    span.column_list_text 
                        b E-mail: 
                        a(href="mailto") info@dymohodvulkan.ru
                li
                    span.icon.site_icon
                    span.column_list_text 
                        b Сайт:
                        a(href="#") dymohodvulkan.ru



    .column_list
        .column_list_name
            ul
                li
                    span.icon.baloon_icon_mini
                    span.column_list_text
                        b МОСКВА

                li
                    span.icon
                    span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                li
                    span.icon.phone_icon
                    span.column_list_text 
                        b Тел. 
                        a(href="tel:000000") +7 (812) 702 36 37
                li
                    span.icon.clock_icon
                    span.column_list_text
                        b Режим работы: 
                        |пн. - пт. 10:00 - 19:00
                li
                    span.icon.mail_icon
                    span.column_list_text 
                        b E-mail: 
                        a(href="mailto") info@dymohodvulkan.ru
                li
                    span.icon.site_icon
                    span.column_list_text 
                        b Сайт:
                        a(href="#") dymohodvulkan.ru


    .column_list
        .column_list_name
            ul
                li
                    span.icon.baloon_icon_mini
                    span.column_list_text
                        b УЛЬЯНОВСК

                li
                    span.icon
                    span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                li
                    span.icon.phone_icon
                    span.column_list_text 
                        b Тел.
                        a(href="tel:000000") +7 (812) 702 36 37

                li
                    span.icon.clock_icon
                    span.column_list_text
                        b Режим работы: 
                        |пн. - пт. 10:00 - 19:00
                li
                    span.icon.mail_icon
                    span.column_list_text 
                        b E-mail: 
                        a(href="mailto") info@dymohodvulkan.ru
                li
                    span.icon.site_icon
                    span.column_list_text 
                        b Сайт:
                        a(href="#") dymohodvulkan.ru



    .column_list
        .column_list_name
            ul
                li
                    span.icon.baloon_icon_mini
                    span.column_list_text
                        b РОСТОВ НА ДОНУ

                li
                    span.icon
                    span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                li
                    span.icon.phone_icon
                    span.column_list_text 
                        b Тел.
                        a(href="tel:000000") +7 (812) 702 36 37

                li
                    span.icon.clock_icon
                    span.column_list_text
                        b Режим работы: 
                        |пн. - пт. 10:00 - 19:00
                li
                    span.icon.mail_icon
                    span.column_list_text 
                        b E-mail: 
                        a(href="mailto") info@dymohodvulkan.ru
                li
                    span.icon.site_icon
                    span.column_list_text 
                        b Сайт:
                        a(href="#") dymohodvulkan.ru


