.full_width
    .section
        .callback_block
            .middle_heading.middle_heading__light
                .middle_heading_descr возникли вопросы?
                .middle_heading_name свяжитесь с нами
                .middle_heading_text Обращайтесь и получите бесплатную консультацию. Proin sodales pulvinar tempor.
            form(action="#").callback_block_form
                input(type="text",requared,name="yourname",placeholder="Ваше имя")
                input(type="text",requared,name="phone",placeholder="Номер телефона").phone_number
                select#callback_select(size="1",name="callback_select",requared)
                    option(value="1") Выберите регион
                    option(value="1") Санкт-Петербург
                    option(value="1") Москва
                    option(value="1") Пенза
                    option(value="1") Тула
                    option(value="1") Тверь
                    option(value="1") Омск
                    input(type="submit",value="Отправить заявку").button.button__white