.main_width
    .swiper_block.cert_slider.section
        .header_block
            .header_block_descr наши
            .header_block_name сертификаты
            .swiper_block_slider_nav
                .swiper_block_slider_nav_prev
                .swiper_block_slider_nav_next
            a(href="#").button.button__yellow_d.button__yellow_darkfont.sliderbtn_pos Смотреть все
        .swiper_block_slider.swiper-wrapper
            .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                a(href="img/cert2.png").certificat
                    img(src="img/cert2.png", alt="")
                a(href="#").swiper_block_name Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007
                .swiper_block_text Действителен с 15.06.2016 по 15.06.2019
            .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                a(href="img/cert2.png").certificat
                    img(src="img/cert2.png", alt="")
                a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                    |Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus quis cupiditate laboriosam, aliquam, nulla sed illo voluptatum eum, quia, rerum distinctio. Nesciunt quas veritatis tempore, unde voluptatum sapiente quo neque, minus odit fugit sit possimus rerum sequi ratione officiis.
            .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                a(href="img/cert2.png").certificat
                    img(src="img/cert2.png", alt="")
                a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
            .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                a(href="img/cert2.png").certificat
                    img(src="img/cert2.png", alt="")
                a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
            .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                a(href="img/cert2.png").certificat
                    img(src="img/cert2.png", alt="")
                a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
            .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                a(href="img/cert2.png").certificat
                    img(src="img/cert2.png", alt="")
                a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.