footer.section.onepage
            .footer_block
                .footer_link_block
                    ul
                        li.wtht_mrkr
                            a(href="#")
                                img(src="img/footer-logo.png", alt="")
                        li
                            .tel
                                a(href="tel:88127023637")
                                    span (812)
                                    |  702 36 37
                        li
                            a(href="mailto:test@test.ru") info@dymohodvulkan.ru
                        li.copyright © 2016 ООО «Дымоход»
                        
                    ul
                        li О заводе
                        li 
                            a(href="#") Технологии
                        li 
                            a(href="#") Где купить
                        li 
                            a(href="#") Сертификаты
                        li 
                             a(href="#") Выставки награды
                        li 
                             a(href="#") Объекты
                        li 
                            a(href="#") Стать диллером
            
                    ul
                        li Каталог
                        li 
                            a(href="#") Двустенные
                        li 
                            a(href="#") Одностенные
                        li 
                            a(href="#") Овальные
                        li 
                            a(href="#") Коксиальные
                        li 
                            a(href="#") Колективные
                        li 
                            a(href="#") Аксессуары
                        li 
                            a(href="#") Выставочные стенды
                    ul
                        li Услуги
                        li 
                            a(href="#") Монтаж
                        li 
                            a(href="#") Проектирование
                    ul
                        li Поддержка
                        li 
                            a(href="#") Вопрос/ответ
                        li 
                            a(href="#") Статьи/блог
                        li 
                            a(href="#") Инструкции, сертификаты
                        li 
                            a(href="#") Обои для рабочего стола
                        li 
                            a(href="#") Видео
                        li 
                            a(href="#") Контакты
//- .loading_resources
    img(src="img/mini_logo.png", alt="").element-animation

include ./tmp_nav.pug
<!--bower:js-->
<script src="components/swiper/dist/js/swiper.js"></script>
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/scrollreveal/dist/scrollreveal.js"></script>
<script src="components/letteringjs/jquery.lettering.js"></script>
<script src="components/textillate/jquery.textillate.js"></script>
<script src="components/waypoints/lib/noframework.waypoints.js"></script>
<script src="components/skrollr/src/skrollr.js"></script>
<script src="components/jquery.easing/js/jquery.easing.js"></script>
<script src="components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="components/drift/dist/Drift.js"></script>
<script src="components/jquery-validation/dist/jquery.validate.js"></script>
<script src="components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="components/desandro-matches-selector/matches-selector.js"></script>
<script src="components/fizzy-ui-utils/utils.js"></script>
<script src="components/get-size/get-size.js"></script>
<script src="components/ev-emitter/ev-emitter.js"></script>
<script src="components/outlayer/outlayer.js"></script>
<script src="components/masonry/masonry.js"></script>
<script src="components/isotope/js/isotope.js"></script>
<!--endbower-->

script(src='https://cdn.jsdelivr.net/g/jquery.ui@1.11.4')
script(src='components/isotope/dist/isotope.pkgd.min.js')
script(src='components/mixitup/dist/mixitup.min.js')
script(src='components/responsive-tabs/js/jquery.responsiveTabs.min.js')

script(src="js/all.min.js")
script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD9iCxyR97TuK7IOxdKlx5lf6FsfuQm4MI')