head
        //- required social meta tags
        //- COMMON TAGS
        meta(charset='utf-8')
        title Page Title
        //- Search Engine
        meta(name='description', content='Page Description')
        meta(name='image', content='img/SiteImage.png')
        //- Schema.org for Google
        meta(itemprop='name', content='Page Title')
        meta(itemprop='description', content='Page Description')
        meta(itemprop='image', content='img/SiteImage.png')
        //- Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='Page Title')
        meta(name='og:description', content='Page Description')
        meta(name='og:image', content='img/PreviewImage.png')
        meta(name='og:url', content='http://site.ru')
        meta(name='og:site_name', content='Site Name')
        meta(name='og:locale', content='ru_RU')
        meta(name='og:video', content='Video.avi')
        meta(name='fb:admins', content='#facebookadminid')
        meta(name='fb:app_id', content='facebookAppID')
        meta(name='og:type', content='website')
        meta(name="author",content="lum.ru")
        //- meta(name="news_date",content="2016-05-01",scheme="YYYY-MM-DD")
        //- meta(name="identifier",content="0-2345-6634-6",scheme="ISBN")
        //- script(src='../../dist/js/paceoptions.min.js')
        script(src='https://cdn.jsdelivr.net/pace/1.0.2/pace.min.js')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/pace/1.0.2/themes/yellow/pace-theme-flash.css")
        //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/jquery.scrollbar/0.2.11/jquery.scrollbar.css")
                
        //- main css link
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="components/responsive-tabs/css/responsive-tabs.css")
        //- link(rel="stylesheet", href="components/responsive-tabs/css/style.css")
        <!--bower:css-->
        <link rel="stylesheet" href="components/swiper/dist/css/swiper.css" />
        <link rel="stylesheet" href="components/animate.css/animate.css" />
        <link rel="stylesheet" href="components/magnific-popup/dist/magnific-popup.css" />
        <link rel="stylesheet" href="components/drift/dist/drift-basic.css" />
        <!--endbower-->
        //- favicons by realfavicongenerator.net
        include favicons.pug
