.full_width.full_width__light
    .section
        .main_width.where_buy#where_buy
            .middle_heading.middle_heading__dark
                .middle_heading_descr Наши
                .middle_heading_name Партнеры
        .logo_list.main_width
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
            .logo_list_item
                img(src="img/partners_logo.png", alt="")
