.handhelds_topbar
    a(href="/dist/").small_logo
        img(src="img/mini_logo.png", alt="")
header.section.header.header_notmain
        
        .header_filter
        .handhelds_menu
        .top_line
            .tel
                a(href="tel:88127023637")
                    span (812)
                    |  702 36 37
            .menu_logo
                ul.mainmenu_items
                    li.current
                        a(href="index.html") Главная
                    li.current
                        a(href="video.html") Видео
                    li
                        a(href="objects.html") Объекты
                a(href="/dist/").small_logo
                    img(src="img/mini_logo.png", alt="")
                ul.mainmenu_items
                    li
                        a(href="faq.html") Вопрос-Ответ
                    li
                        a(href="stati.html") Статьи
                    li
                        a(href="wallpapers.html") Обои
            a.button.button__yellow_d.button__yellow_d_lightfont.header_button_margin(href="#") стать дилером
        .handhelds_menu

        //- .h_content
        //-     a(href="#").main_logo
        //-         img(src="img/logo.png", alt="")
        //-     .slogan#slogan Официальный сайт завода-изготовителя модульных дымоходов «Вулкан»
        //-     a.button.button__white связаться с нами