.full_width
    .section
        .infoblock#prefer(data-0-start="background-position:0 -2000px;",data-0-end="background-position:0 500px;",style="background-image:url('img/preim.png');")
            .middle_heading.middle_heading__light
                .infoblock_name Завод «Вулкан» специализируется на производстве дымоходов уже более 17 лет.
                .infoblock_text За это время было предпринято много действий для достижения максимального качества, надежности продукции современного производства «Вулкан».
