ul.tmp_nav
    li
        a(href="index.html") index
    li
        a(href="about.html") about
    li
        a(href="buy.html") buy
    li
        a(href="catalog.html") catalog
    li
        a(href="good_page.html") good_page
    li
        a(href="catalog_parent.html") catalog_parent
    li
        a(href="certs.html") certs
    li
        a(href="dealer.html") dealer
    li
        a(href="download.html") download
    li
        a(href="exposition.html") exposition
    li
        a(href="faq.html") faq
    li
        a(href="good_page.html") good_page
    li
        a(href="montage.html") montage
    li
        a(href="objects.html") objects
    li
        a(href="projectdev.html") projectdev
    li
        a(href="services.html") services
    li
        a(href="stati.html") stati
    li
        a(href="support.html") support
    li
        a(href="technologies.html") technologies
    li
        a(href="video.html") video
    li
        a(href="wallpapers.html") wallpapers