<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug

        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.where_buy#where_buy
                section.section_centered
                    .middle_heading.middle_heading__dark
                        .middle_heading_descr адреса
                        .middle_heading_name где купить
                    article
                        p Мы думаем о наших клиентах и именно поэтому придаем большое значение персональным консультациям и профессиональному сервису, который также предполагает качественное выполнение проектирования и монтажа. Все это Вы можете получить только у авторизованных дилеров.


                include ./includes/addresses.pug
        .full_width.full_width__light.full_width_map
            .section
                .overlay(onClick="style.pointerEvents='none'")
                #map
                .map_searchblock
                    img(src="img/map_searchblock.png", alt="")
                    .map_searchblock_name Найдите ближайший к Вам магазин
                    input(type="text",placeholder="Введите название города")#project.map_searchblock_input
                    

                    .ui-widget.map_searchblock_details
                        img(src="", alt="")#project-icon.ui-state-default
                        p#project-addr
                        p#project-phone
                        p#project-time
                        p#project-site
                        p#project-email
                        p#project-manager
                    .map_searchblock_results
            .map_spinner
                //- <div class="ui-widget">
                //-     <div id="project-label">Начните искать здесь:</div>
                //-     <img id="project-icon" src="" class="ui-state-default" alt="">
                //-     <input id="project">
                //-     <p id="project-addr"></p>
                //-     <p id="project-phone"></p>
                //-     <p id="project-time"></p>
                //-     <p id="project-site"></p>
                //-     <p id="project-email"></p>
                //-     <p id="project-manager"></p>
                //- </div>
                //- iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8016.243509838737!2d30.491625850000002!3d59.84812915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1485512768773",width="100%",height="639",frameborder="0",style="border:0",allowfullscreen).map_search







                //- .map_filterblock.tmp_pos
                //-     .map_searchblock_name домотехника
                //-     .column_list
                //-         .column_list_name
                //-             ul
                //-                 li
                //-                     span.column_list_text Санкт-Петербург Парнас, 3-ий Верхний пр., д. 16
                //-                 li
                //-                     span.column_list_text 
                //-                         b Тел. 
                //-                         | +7 (812) 702 36 37
                //-                 li
                //-                     span.column_list_text
                //-                         b Режим работы: 
                //-                         |пн. - пт. 10:00 - 19:00
                //-                 li
                //-                     span.column_list_text 
                //-                         b Сайт: 
                //-                         a(href="http://kamin.ru") http://kamin.ru
                //-                 li
                //-                     span.column_list_text 
                //-                         b E-mail: 
                //-                         a(href="mailto:kamin@mail.ru") kamin@mail.ru





                //-     .map_filtbtn
                //-         div
                //-             img(src="img/svg/marshrut.svg", alt="")
                //-             a(href="#") Проложить маршрут
                //-         div
                //-             img(src="img/svg/online_call.svg", alt="")
                //-             a(href="#") Позвонить онлайн





                //-     .column_list
                //-         .column_list_name
                //-             ul
                //-                 li
                //-                     span.column_list_text
                //-                         b Иван Сергевич Петров
                //-                 li
                //-                     span.column_list_text Менеджер по работе с корпоративными клиентами
                //-                 li
                //-                     span.column_list_text 
                //-                         b Тел: 
                //-                         a(href="tel:88123217777") +7 (812) 321 77 77
                //-                 li
                //-                     span.column_list_text 
                //-                         b E-mail: 
                //-                         a(href="mailto:kamin@mail.ru") kamin@mail.ru

        .full_width.full_width__light
            .main_width.where_buy#where_buy
                section.section_centered
                    .middle_heading.middle_heading__dark
                        .middle_heading_descr найдите
                        .middle_heading_name ближайший к вам магазин
                    article
                        p Найти дилеров по продаже модульных дымоходов "Вулкан" в своем регионе вы можете, указав свой город, а так же выбрав направление - монтаж или продажа.
                        fieldset(data-filter-group,data-logic="and")#FilterSelect
                            input(type="radio",name='radiog_lite',value='all')#radio0
                            label(for="radio0").radGroup1.radGroup1.css-radio Все

                            input(type="radio",name='radiog_lite',value='.category-1')#radio1
                            label(for="radio1").radGroup1.radGroup1.css-radio Категория 1

                            input(type="radio",name='radiog_lite',value='.category-2')#radio2
                            label(for="radio2").radGroup1.radGroup1.css-radio Категория 2

                            input(type="radio",name='radiog_lite',value='.category-3')#radio3
                            label(for="radio3").radGroup1.radGroup1.css-radio Категория 3
                        div
                            .choose_twn Выберите город
                            select(data-filter-group,data-logic="and")#SortSelect.middle_form
                                option(value='') Все
                                option(value='') Санкт-Петербург
                                option(value='') Москва
                                option(value='') Ульяновск
                                option(value='') Ростов

                include ./includes/addresses_wthlogo.pug


        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


