<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- categorys here
                .category
                    a(href="#").category_item.category_item_selected
                        img(src="img/catitem1.png", alt="")
                        .category_item_name двустенные/сендвич
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem2.png", alt="")
                        .category_item_name Одностенные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem3.png", alt="")
                        .category_item_name Овальные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem4.png", alt="")
                        .category_item_name Коаксиальные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem5.png", alt="")
                        .category_item_name коллективные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem6.png", alt="")
                        .category_item_name Аксессуары
                        .category_item_descr
                    a(href="#").category_item
                        img(src="img/catitem2.png", alt="")
                        .category_item_name Выставочные
                        .category_item_descr стенды




        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h продукция
                    .middle_heading
                        .middle_heading_name одностенные дымоходы

                section.section_onefortwocols
                    article
                        h2 Для достижения этих целей были предприняты следующие шаги и действия:
                        ul
                            li Тщательное изучение европейских рынков и производства, достижение соглашений с ведущими мировыми компаниями в этой области;
                            li Постоянный мониторинг мирового и отечественного рынка, консультации и обмен опытом  с европейскими производителями, которые продолжаются по сей день;
                            li Закупка и установка передового немецкого, швейцарского, австрийского, итальянского оборудования самого современного технологического оснащения;
                            li Набор в штат высокопрофессиональных специалистов, инженеров и конструкторов, проведение для них постоянных тренингов, дополнительное обучение и стажировка на лучших мировых производствах;

                        h2 Передовое, современное производство завода «Вулкан» находится на высочайшем, европейском уровне также за счет использования высоких технологий, инновационных разработок и передовых исследований. К высоким технологиям, которые использует завод, нужно отнести следующие:
                        ul
                            li Плазменная TIG-сварка. Осуществляется на станке TIG исключительно стык в стык, в среде инертных газов. Служит абсолютной герметичности дымохода;
                            li Лазерный раскрой 2D и 3D (Швейцария). Обеспечивает максимальную точность изготовления каждой детали дымохода;
                            li Мощные вальцовочные станки производства Германии;
                            li Огнестойкая теплоизоляция категории «пожарная», толщиной от 50 мм от известного датского производителя  ROCKWOOL Wired Mat. Изоляционный слой рассчитан на рабочую температуру до 1000°С.

        .full_width.full_width__light
            .main_width.main_width__white
                .middle_more
                    a(href="#goodzz") читать далее


        .full_width.full_width__light
            .main_width.main_width__white
                a(href="#goodzz").anchor.middle_next
                    img(src="img/svg/circled_arrow_bottom.svg", alt="")




        .full_width.full_width__light
            .main_width.main_width__white
                .goods#goodzz
                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="").goods_item_img_this
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html", data-effect="mfp-move-from-top").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее

                    .goods_item
                        a(href="good.html").goods_item_img.ajax_popup
                            img(src="img/good2.png", alt="")
                            img(src="img/svg/new.svg", alt="").goods_item_img_new
                        .goods_item_descr
                            .goods_item_descr_lil Задвижка ZHR
                            .goods_item_descr_more Задвижка ZHR с раструбно-профильным соединением. Выполнена из нержавеющей стали.
                        a(href="good.html").button.button__black.goods_item_btn.ajax_popup подробнее















                        
        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


