<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h каталоги и руководство
                    .middle_heading
                        .middle_heading_name скачать
                    p Здесь небольшой текст о том, что в этом разделе Вы можете сказать в формате PDF необходимую информацию в виде каталогов и руководства по эксплуатации.
 
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_onefortwocols
                    article
                        .view_object
                            a(href="#").view_object_image.view_object_image_cert
                                img(src="img/cert2.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007
                                p Сертификат соответствия
                                    |№ РОСС RU.31156.IS.OHSAS.012
                                    |Срок действия с 15.06.2016 по 15.06.2019
                                p НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ:
                                    |Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования
                                    |СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ ГОСТ P 54934-2012 (OHSAS 18001:2007)
                                    |Основание: Решение органа по сертификации № 0292 от 14 июня 2016 года

                        .view_object
                            a(href="#").view_object_image.view_object_image_cert
                                img(src="img/cert2.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007
                                p Сертификат соответствия
                                    |№ РОСС RU.31156.IS.OHSAS.012
                                    |Срок действия с 15.06.2016 по 15.06.2019
                                p НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ:
                                    |Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования
                                    |СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ ГОСТ P 54934-2012 (OHSAS 18001:2007)
                                    |Основание: Решение органа по сертификации № 0292 от 14 июня 2016 года

                        .view_object
                            a(href="#").view_object_image.view_object_image_cert
                                img(src="img/cert2.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007
                                p Сертификат соответствия
                                    |№ РОСС RU.31156.IS.OHSAS.012
                                    |Срок действия с 15.06.2016 по 15.06.2019
                                p НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ:
                                    |Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования
                                    |СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ ГОСТ P 54934-2012 (OHSAS 18001:2007)
                                    |Основание: Решение органа по сертификации № 0292 от 14 июня 2016 года
                        .view_object
                            a(href="#").view_object_image.view_object_image_cert
                                img(src="img/cert2.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") "Загородный дом" / Holzhaus, г. Москва
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                                p НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ:
                                    |Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования
                                    |СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ ГОСТ P 54934-2012

                        .view_object
                            a(href="#").view_object_image.view_object_image_cert
                                img(src="img/cert2.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007
                                p Сертификат соответствия
                                    |№ РОСС RU.31156.IS.OHSAS.012
                                    |Срок действия с 15.06.2016 по 15.06.2019
                                p НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ:
                                    |Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования
                                    |СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ ГОСТ P 54934-2012 (OHSAS 18001:2007)
                                    |Основание: Решение органа по сертификации № 0292 от 14 июня 2016 года

                        .view_object
                            a(href="#").view_object_image.view_object_image_cert
                                img(src="img/cert2.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007
                                p Сертификат соответствия
                                    |№ РОСС RU.31156.IS.OHSAS.012
                                    |Срок действия с 15.06.2016 по 15.06.2019
                                p НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ:
                                    |Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования
                                    |СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ ГОСТ P 54934-2012 (OHSAS 18001:2007)
                                    |Основание: Решение органа по сертификации № 0292 от 14 июня 2016 года

            include ./includes/pagination.pug
        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug