<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug

        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером

        .full_width.full_width__light
            .main_width.where_buy#where_buy
                section.section_centered
                    .middle_heading.middle_heading__dark
                        .middle_heading_descr найдите
                        .middle_heading_name ближайший к вам магазин
                    article
                        p Найти дилеров по продаже модульных дымоходов "Вулкан" в своем регионе вы можете, указав свой город, а так же выбрав направление - монтаж или продажа.
                        form(action="#").validate_form
                            .fieldset_name Информация о компании
                            div
                                input(type="text",placeholder="Название компании",name="companyname",value="",required).middle_form
                            div
                                input(type="text",placeholder="С какого года на рынке",name="howoldycompany",value="",required).middle_form
                            .fieldset_name Фактический адрес
                            div
                                input(type="text",placeholder="Страна",name="country",value="",required).middle_form
                            div
                                input(type="number",placeholder="Индекс",name="index",value="",required).middle_form
                            div
                                select(required,name="select").middle_form
                                    option(disabled,selected) Выберите вариант
                                    option(value="11") Варик 1
                                    option(value="12") Варик 12
                                    option(value="13") Варик 13
                                    option(value="14") Варик 14
                                    option(value="15") Варик 15
                                    option(value="16") Варик 16
                                    option(value="17") Варик 17
                            div
                                input(type="text",placeholder="Город",name="town",value="",required).middle_form
                            div
                                input(type="text",placeholder="Адрес",name="address",value="",required).middle_form
                            input(type="submit",value="Отправить запрос  >").button.button__white

        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug