<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h каталоги и руководство
                    .middle_heading
                        .middle_heading_name загрузки
                    p Здесь небольшой текст о том, что в этом разделе Вы можете сказать в формате PDF необходимую информацию в виде каталогов и руководства по эксплуатации.
 
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_onefortwocols
                    article
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" 
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>

                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/pdf.png", alt="")
                            .view_object_descr
                                h2
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан"
                                        span (версия: 10.2016)
                                p Здесь краткое описание. Система менеджмента безопасности труда и охраны здоровья, приминительно к производству и оптовой продаже модульных металлических дымоходов, газоходов, воздуховодов, изделий и компонентов для систем отопления, вентиляции и кондиционирования.
                                a(href="#").button.button__yellow_d.button__yellow_d_darkfont Скачать PDF
                                    |&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><path d="M14.1 16.14H1.05c-.58 0-1.05-.47-1.05-1.05v-4.63h2.1v3.57h10.95v-3.57h2.1v4.63c0 .58-.47 1.05-1.05 1.05zm-6.21-6.01c-.26.26-.51-.03-.51-.03L4.37 6.46s-.46-.43.04-.43h1.7v-.74V.73s-.07-.26.32-.26h2.39c.28 0 .27.22.27.22v5.23h1.57c.6 0 .15.45.15.45s-2.57 3.4-2.92 3.76z" fill="#2F2F2F"/></svg>



        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


