<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h «вулкан»
                    .middle_heading
                        .middle_heading_name выставки
                     
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_onefortwocols
                    article
                        .view_object_big
                            img(src="img/exp_big.png", alt="")
                            .view_object_big_content
                                .view_object_big_h
                                    a(href="") новая выставка
                                .view_object_big_smlh "Загородный дом" / Holzhaus, г. Москва
                                .view_object_big_date 20.10.2016 - 23.10.2016
                                .view_object_big_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus  accumsan et viverra justo commodo. Proin sodales pulvinar temporconsectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.




                        .view_object
                            a(href="#").view_object_image
                                img(src="img/exp_img.png", alt="")
                            .view_object_descr
                                h2.h_exp
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" (версия: 10.2016)
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/exp_img.png", alt="")
                            .view_object_descr
                                h2.h_exp
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" (версия: 10.2016)
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                        .view_object
                            a(href="#").view_object_image
                                img(src="img/exp_img.png", alt="")
                            .view_object_descr
                                h2.h_exp
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" (версия: 10.2016)
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/exp_img.png", alt="")
                            .view_object_descr
                                h2.h_exp
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" (версия: 10.2016)
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/exp_img.png", alt="")
                            .view_object_descr
                                h2.h_exp
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" (версия: 10.2016)
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        .view_object
                            a(href="#").view_object_image
                                img(src="img/exp_img.png", alt="")
                            .view_object_descr
                                h2.h_exp
                                    a(href="#") Каталог "Системы модульных дымоходов "Вулкан" (версия: 10.2016)
                                .view_object_descr_date 20.10.2016 - 23.10.2016
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                include ./includes/pagination.pug


        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


