<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h Вулкан
                    .middle_heading
                        .middle_heading_name вопрос-ответ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, assumenda, dolor harum itaque eius amet illum molestiae, accusantium tempora libero eum. Officia voluptas eos, illo ab velit explicabo rem fugiat consectetur accusamus, repudiandae fugit perferendis eveniet deleniti soluta voluptates dolor.
                    a(href="#").button.button__white задать вопрос
                section.faq_blocks
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Ольга, 13.02.2017
                            p Добрый день! Планируется установка двустенной трубы V50R 150/250. Какая маркировка будет в фланца с изоляцией FDvXX250 или FDvXX150? Также вопрос с хомутом под растяжку XRvXX250 или XRvXX150?
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Ольга. Маркировка идет по внутреннему диаметру, в вашем случае - 150.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Дмитрий, 04.02.2017
                            p Здравствуйте. Подойдут ли трубы из AISI 321, толщиной 0.8 мм для чугунной банной печи Везувий Легенда 22. Подойдут ли трубы из AISI 321, толщиной 0.8 мм для чугунной банной печи Везувий Легенда 22.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Добрый день, Дмитрий! Для банной печи подойдут стандартные трубы из 0,5 мм, но на заказ можем сделать из 0,8 мм.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Юрий, 13.02.2017
                            p Добрый день. Планирую поставить дымоход вашего производства. Дымоход будет проходить внутри 2-х этажного строения (общая длина дымохода 6500). Есть 2 вопроса: 1. Можно ли установить шибер не у печки, на первом этаже, а на втором этаже (от печи высота будет 2800 мм). 2. Какова температура на "сэндвиче" на высоте 5500 мм от печи, т.к. переделать кровлю очень трудоемко. Через кровлю имеется проходная гильза 300 мм (типа экрана), планирую место прохода сендвича в гильзе продублировать каменной ватой файрбатс. Дымоход 115 (старт) / 200 (сендвич). Спасибо.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Юрий! Можно. Мы делаем на заказ шибер с изоляцией.Температура на наружке примерно 60-80 градусов.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Виктор, 21.01.2017
                            p Здравствуйте, у меня установлен сендвич дымоход Вулкан д-200 мм нерж. котёл на угле, тяга отличная, но при сильных порывах ветра пламя и дым вылетают из поддувала .Стоял обычный дефлектор, затем я срезал экран, оставив конус с грибком, проблема осталась. Сейчас срезал грибок, оставив конусное окончание трубы. Всё равно задувает, дым с силой вылетает из всех щелей. Это происходит только при сильном ветре. Что мне делать? Видел дефлектор DFVDR -  в чём его отличие? На рисунке показано, что окончание трубы под ним не конус, а раструб - это так? Решит ли он мою проблему?
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Добрый день! Этот дефлектор вам не нужен,он предназначен для труб раструбно-профильного соединения, а в остальном он точно такой же как у вас. Вам может помочь увеличение высоты дымохода.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Юрий, 13.02.2017
                            p Добрый день. Планирую поставить дымоход вашего производства. Дымоход будет проходить внутри 2-х этажного строения (общая длина дымохода 6500). Есть 2 вопроса: 1. Можно ли установить шибер не у печки, на первом этаже, а на втором этаже (от печи высота будет 2800 мм). 2. Какова температура на "сэндвиче" на высоте 5500 мм от печи, т.к. переделать кровлю очень трудоемко. Через кровлю имеется проходная гильза 300 мм (типа экрана), планирую место прохода сендвича в гильзе продублировать каменной ватой файрбатс. Дымоход 115 (старт) / 200 (сендвич). Спасибо.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Юрий! Можно. Мы делаем на заказ шибер с изоляцией.Температура на наружке примерно 60-80 градусов.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Ольга, 13.02.2017
                            p Добрый день! Планируется установка двустенной трубы V50R 150/250. Какая маркировка будет в фланца с изоляцией FDvXX250 или FDvXX150? Также вопрос с хомутом под растяжку XRvXX250 или XRvXX150?
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Ольга. Маркировка идет по внутреннему диаметру, в вашем случае - 150.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Дмитрий, 04.02.2017
                            p Здравствуйте. Подойдут ли трубы из AISI 321, толщиной 0.8 мм для чугунной банной печи Везувий Легенда 22. Подойдут ли трубы из AISI 321, толщиной 0.8 мм для чугунной банной печи Везувий Легенда 22.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Добрый день, Дмитрий! Для банной печи подойдут стандартные трубы из 0,5 мм, но на заказ можем сделать из 0,8 мм.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Юрий, 13.02.2017
                            p Добрый день. Планирую поставить дымоход вашего производства. Дымоход будет проходить внутри 2-х этажного строения (общая длина дымохода 6500). Есть 2 вопроса: 1. Можно ли установить шибер не у печки, на первом этаже, а на втором этаже (от печи высота будет 2800 мм). 2. Какова температура на "сэндвиче" на высоте 5500 мм от печи, т.к. переделать кровлю очень трудоемко. Через кровлю имеется проходная гильза 300 мм (типа экрана), планирую место прохода сендвича в гильзе продублировать каменной ватой файрбатс. Дымоход 115 (старт) / 200 (сендвич). Спасибо.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Юрий! Можно. Мы делаем на заказ шибер с изоляцией.Температура на наружке примерно 60-80 градусов.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Виктор, 21.01.2017
                            p Здравствуйте, у меня установлен сендвич дымоход Вулкан д-200 мм нерж. котёл на угле, тяга отличная, но при сильных порывах ветра пламя и дым вылетают из поддувала .Стоял обычный дефлектор, затем я срезал экран, оставив конус с грибком, проблема осталась. Сейчас срезал грибок, оставив конусное окончание трубы. Всё равно задувает, дым с силой вылетает из всех щелей. Это происходит только при сильном ветре. Что мне делать? Видел дефлектор DFVDR -  в чём его отличие? На рисунке показано, что окончание трубы под ним не конус, а раструб - это так? Решит ли он мою проблему?
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Добрый день! Этот дефлектор вам не нужен,он предназначен для труб раструбно-профильного соединения, а в остальном он точно такой же как у вас. Вам может помочь увеличение высоты дымохода.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Юрий, 13.02.2017
                            p Добрый день. Планирую поставить дымоход вашего производства. Дымоход будет проходить внутри 2-х этажного строения (общая длина дымохода 6500). Есть 2 вопроса: 1. Можно ли установить шибер не у печки, на первом этаже, а на втором этаже (от печи высота будет 2800 мм). 2. Какова температура на "сэндвиче" на высоте 5500 мм от печи, т.к. переделать кровлю очень трудоемко. Через кровлю имеется проходная гильза 300 мм (типа экрана), планирую место прохода сендвича в гильзе продублировать каменной ватой файрбатс. Дымоход 115 (старт) / 200 (сендвич). Спасибо.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Юрий! Можно. Мы делаем на заказ шибер с изоляцией.Температура на наружке примерно 60-80 градусов.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Ольга, 13.02.2017
                            p Добрый день! Планируется установка двустенной трубы V50R 150/250. Какая маркировка будет в фланца с изоляцией FDvXX250 или FDvXX150? Также вопрос с хомутом под растяжку XRvXX250 или XRvXX150?
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Ольга. Маркировка идет по внутреннему диаметру, в вашем случае - 150.
                    .faq_block
                        .faq_block_q
                            .faq_block_name
                                b Юрий, 13.02.2017
                            p Добрый день. Планирую поставить дымоход вашего производства. Дымоход будет проходить внутри 2-х этажного строения (общая длина дымохода 6500). Есть 2 вопроса: 1. Можно ли установить шибер не у печки, на первом этаже, а на втором этаже (от печи высота будет 2800 мм). 2. Какова температура на "сэндвиче" на высоте 5500 мм от печи, т.к. переделать кровлю очень трудоемко. Через кровлю имеется проходная гильза 300 мм (типа экрана), планирую место прохода сендвича в гильзе продублировать каменной ватой файрбатс. Дымоход 115 (старт) / 200 (сендвич). Спасибо.
                        .faq_block_a
                            .faq_block_name
                                b Ответ профессионала
                            p Здравствуйте, Юрий! Можно. Мы делаем на заказ шибер с изоляцией.Температура на наружке примерно 60-80 градусов.
                    .faq_gutter
                    .faq_sizer

            include ./includes/pagination.pug
        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


