<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug


    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- categorys here
                .category
                    a(href="#").category_item.category_item_selected
                        img(src="img/catitem1.png", alt="")
                        .category_item_name двустенные/сендвич
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem2.png", alt="")
                        .category_item_name Одностенные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem3.png", alt="")
                        .category_item_name Овальные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem4.png", alt="")
                        .category_item_name Коаксиальные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem5.png", alt="")
                        .category_item_name коллективные
                        .category_item_descr дымоходы
                    a(href="#").category_item
                        img(src="img/catitem6.png", alt="")
                        .category_item_name Аксессуары
                        .category_item_descr
                    a(href="#").category_item
                        img(src="img/catitem2.png", alt="")
                        .category_item_name Выставочные
                        .category_item_descr стенды


                        
        .full_width.full_width__light
            .main_width.main_width__white
                section.header_withprint
                    h1 Труба прямая L500
                    a(href="#").print_link Версия для печати

                //- categorys here
                .good_wr_page
                    //- // Swiper
                    .good_images
                        .swiper-container.good_slider
                              .swiper-wrapper
                                    .swiper-slide
                                        img(data-src='img/good_min1.jpg',alt='',data-zoom='img/good_max1.jpg').swiper-lazy.imgTrigger
                                        .swiper-lazy-preloader.swiper-lazy-preloader-black
                                    .swiper-slide
                                        img(data-src='img/good_min2.jpg',alt='',data-zoom='img/good_max2.jpg').swiper-lazy.imgTrigger
                                        .swiper-lazy-preloader.swiper-lazy-preloader-black
                                    .swiper-slide
                                        img(data-src='img/good_min3.jpg',alt='',data-zoom='img/good_max3.jpg').swiper-lazy.imgTrigger
                                        .swiper-lazy-preloader.swiper-lazy-preloader-black
                                    .swiper-slide
                                        img(data-src='img/good_min4.jpg',alt='',data-zoom='img/good_max4.jpg').swiper-lazy.imgTrigger
                                        .swiper-lazy-preloader.swiper-lazy-preloader-black

                              //- .swiper-button-next.swiper-button-black
                              //- .swiper-button-prev.swiper-button-black
                        .swiper-container.good_thumbs
                              .swiper-wrapper
                                    .swiper-slide
                                        img(src='img/good_thumb1.jpg',alt='')
                                    .swiper-slide
                                        img(src='img/good_thumb2.jpg',alt='')
                                    .swiper-slide
                                        img(src='img/good_thumb3.jpg',alt='')
                                    .swiper-slide
                                        img(src='img/good_thumb4.jpg',alt='')
                    .goog_info_page
                        //- h1 Девлектор DHR
                        //- .articul Артикул 654984324
                        .goog_info_props
                            .prop_itempage
                                .prop_name Диаметры:
                                .prop_variants
                                    span.current_var 80
                                    span 100
                                    span 115
                                    span 150
                                    span 180
                                    span 160
                                    span 190
                                    span 180
                                    span 250
                                    span 300
                            //- .prop
                            //-     .prop_name Толщина стали (мм)
                            //-     .prop_variants
                            //-         span 0.5
                            //-         span 0.8
                            //-         span 1
                            .prop_itempage
                                .prop_name Марка стали:
                                .prop_variants
                                    span.current_var AISI 304, зеркальная
                                    span AISI 321, матовая
                        table.t_dotted_lines
                            tr
                                td Марка стали
                                td
                                    b AISI 439
                            tr
                                td Вес бруто
                                td
                                    b 2,4 кг
                            tr
                                td Объем
                                td
                                    b 30,0321351 кв м.
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum labore quae, delectus tempore ipsum nesciunt amet repudiandae est nihil odio optio magnam sit quas, molestiae aliquam impedit iusto ipsa non nisi fugiat incidunt eligendi. Vero facilis non dicta alias adipisci error ab dolore id itaque? Reprehenderit nulla nostrum dolor.
                    .good_btns_page
                        a(href="#").button.button__black Где купить
                        span Товар доступен в магазинах дилеров




                #responsiveTabsDemo.respTabs
                    ul
                        li
                            a(href="#tab-1") первая вкладка
                        li
                            a(href="#tab-2") первая вкладка
                        li
                            a(href="#tab-3") первая вкладка
                    #tab-1
                        table.t_dotted_lines
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали

                    #tab-2
                        table.t_dotted_lines
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали

                    #tab-3
                        table.t_dotted_lines
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                            tr
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали
                                td AISI 439
                                td Марка стали


        include ./includes/footer.pug


