.good_wr.good_wr_magnific_pos
    //- // Swiper
    .good_images
        .swiper-container.good_slider
              .swiper-wrapper
                    .swiper-slide
                        img(data-src='img/good_min1.jpg',alt='',data-zoom='img/good_max1.jpg').swiper-lazy.imgTrigger
                        .swiper-lazy-preloader.swiper-lazy-preloader-black
                    .swiper-slide
                        img(data-src='img/good_min2.jpg',alt='',data-zoom='img/good_max2.jpg').swiper-lazy.imgTrigger
                        .swiper-lazy-preloader.swiper-lazy-preloader-black
                    .swiper-slide
                        img(data-src='img/good_min3.jpg',alt='',data-zoom='img/good_max3.jpg').swiper-lazy.imgTrigger
                        .swiper-lazy-preloader.swiper-lazy-preloader-black
                    .swiper-slide
                        img(data-src='img/good_min4.jpg',alt='',data-zoom='img/good_max4.jpg').swiper-lazy.imgTrigger
                        .swiper-lazy-preloader.swiper-lazy-preloader-black
        .swiper-container.good_thumbs
              .swiper-wrapper
                    .swiper-slide
                        img(src='img/good_thumb1.jpg',alt='')
                    .swiper-slide
                        img(src='img/good_thumb2.jpg',alt='')
                    .swiper-slide
                        img(src='img/good_thumb3.jpg',alt='')
                    .swiper-slide
                        img(src='img/good_thumb4.jpg',alt='')
    .goog_info
        h1 Девлектор DHR
        .articul Артикул 654984324
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum labore quae, delectus tempore ipsum nesciunt amet repudiandae est nihil odio optio magnam sit quas, molestiae aliquam impedit iusto ipsa non nisi fugiat incidunt eligendi. Vero facilis non dicta alias adipisci error ab dolore id itaque? Reprehenderit nulla nostrum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum labore quae, delectus tempore ipsum nesciunt amet repudiandae est nihil odio optio magnam sit quas, molestiae aliquam impedit iusto ipsa non nisi fugiat incidunt eligendi. Vero facilis non dicta alias adipisci error ab dolore id itaque? Reprehenderit nulla nostrum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum labore quae, delectus tempore ipsum nesciunt amet repudiandae est nihil odio optio magnam sit quas, molestiae aliquam impedit iusto ipsa non nisi fugiat incidunt eligendi. Vero facilis non dicta alias adipisci error ab dolore id itaque? Reprehenderit nulla nostrum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum labore quae, delectus tempore ipsum nesciunt amet repudiandae est nihil odio optio magnam sit quas, molestiae aliquam impedit iusto ipsa non nisi fugiat incidunt eligendi. Vero facilis non dicta alias adipisci error ab dolore id itaque? Reprehenderit nulla nostrum dolor.
        .goog_info_props
            .prop
                .prop_name Диаметры
                .prop_variants
                    span 80
                    span 100
                    span 115
                    span 150
                    span 180
                    span 190
                    span 250
            .prop
                .prop_name Толщина стали (мм)
                .prop_variants
                    span 0.5
                    span 0.8
                    span 1
            .prop
                .prop_name Марка стали
                .prop_variants
                    span AISI 321
                    span
                        a(href="#") Смотреть таблицу характеристик
        .good_btns
            a(href="#").button.button__black Где купить
            a(href="#").button.button__yellow_d.button__yellow_d_darkfont Смотреть подробнее