<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont услуги
                a(href="").button.button__yellow_d.button__yellow_d_darkfont монтаж
                a(href="").button.button__yellow_d.button__yellow_d_darkfont проектирование

        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h Вулкан
                    .middle_heading
                        .middle_heading_name Услуги
                    article
                        p Завод «Вулкан» с 1996 года производит модульные дымоходы из нержавеющей стали  как бытового, так и промышленного назначения. С самого начала своей деятельности мы сосредоточили свое внимание на создании дымоходов с применением самых современных технологий и достижении в их производстве только наивысшего качества.

        include ./includes/page_baner.pug
 
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_onefortwocols
                    article
                        h2 Для достижения этих целей были предприняты следующие шаги и действия:
                        ul
                            li Тщательное изучение европейских рынков и производства, достижение соглашений с ведущими мировыми компаниями в этой области;
                            li Постоянный мониторинг мирового и отечественного рынка, консультации и обмен опытом  с европейскими производителями, которые продолжаются по сей день;
                            li Закупка и установка передового немецкого, швейцарского, австрийского, итальянского оборудования самого современного технологического оснащения;
                            li Набор в штат высокопрофессиональных специалистов, инженеров и конструкторов, проведение для них постоянных тренингов, дополнительное обучение и стажировка на лучших мировых производствах;
                            li Открытие независимой опытно-испытательной лаборатории при заводе «Вулкан»;
                            li Использование только высококачественных материалов для производства дымоходов и их элементов, которые закупаются только у проверенных поставщиков и проходят дополнительную проверку, экспертизы, испытания и спектральный анализ.
                            p Современное, передовое производство дымоходов, дымоходных систем и их элементов обеспечивается и другими, не менее важными факторами. Например, для изготовления линейных труб и фасонных изделий (тройники, отводы, кронштейны и т. д.) используются высоколегированные нержавеющие аустенитные стали, специально разработанные для применения в условиях агрессивной среды. 

                            p Внутренний контур элементов дымохода изготовляется из стали марки AISI 321, обладающей повышенной жаростойкостью (до 850°С), механической и химической прочностью. Внешний контур - из аустенитной полированной нержавеющей стали AISI 304. 

                            p За счет повышенной доле никеля в ее формуле, сталь AISI 304 является глубоко аустенитной - те есть стабильной по структуре и не склонной к межкристаллитной коррозии. Помимо этого, сталь устойчива к воздействию окружающей среды, перепадам температуры, может использоваться в любых климатических условиях.
                        h2 Передовое, современное производство завода «Вулкан» находится на высочайшем, европейском уровне также за счет использования высоких технологий, инновационных разработок и передовых исследований. К высоким технологиям, которые использует завод, нужно отнести следующие:
                        ul
                            li Плазменная TIG-сварка. Осуществляется на станке TIG исключительно стык в стык, в среде инертных газов. Служит абсолютной герметичности дымохода;
                            li Лазерный раскрой 2D и 3D (Швейцария). Обеспечивает максимальную точность изготовления каждой детали дымохода;
                            li Мощные вальцовочные станки производства Германии;
                            li Огнестойкая теплоизоляция категории «пожарная», толщиной от 50 мм от известного датского производителя  ROCKWOOL Wired Mat. Изоляционный слой рассчитан на рабочую температуру до 1000°С.
                            li Эксклюзивная система термокомпенсации. Разработана инженерами завода «Вулкан». Компенсирует линейное расширение внутреннего контура, предотвращает егог смещение по отношению к наружному контуру дымохода.

                            p Качество и надежность продукции современного завода «Вулкан» подтверждается всеми необходимыми лицензиями и сертификатами. Все изготавливаемые элементы дымоходов имеют  Сертификат Соответствия Госстандарта России и Сертификат Пожарной Безопасности. В соответствии со СП7.13130.2013 дымоходы «Вулкан» могут использоваться для подключения к каминам, устанавливаемым в жилых многоэтажных и общественных зданиях.
 
                            p Клиентами завода «Вулкан» являются такие крупные производители, как, например, заводы Toyota и Nissan, сеть гипермаркетов «Окей» и многие другие, для которых были изготовлены дымоходные системы промышленного назначения.

                            p Завод «Вулкан» предоставляет внушительную гарантию на все изготавливаемые дымоходы, производственные элементы и дымоходные системы бытового и промышленного назначения - 50 лет.



        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


