<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light#showmenuhere
            .main_width.main_width__white
                section.section_centered
                    .pre_h тематические
                    .middle_heading
                        .middle_heading_name полезные статьи
                    p Здесь небольшой текст о том, что в этом разделе Вы сможете узнать много полезной информации.
                


                section.with_aside
                    .with_aside_left
                        
                        .statya
                            .statya_image
                                .post_item_date
                                    b 13
                                    span фев
                                a(href="#")
                                    img(src="img/statya.jpg", alt="")
                            .statya_preview
                                .post_item
                                    .post_item_h
                                        .post_item_nametags
                                            a(href="#").post_item_name
                                                h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                                    .post_item_tags
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка

                                    .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
                        .statya
                            .statya_image
                                .post_item_date
                                    b 13
                                    span фев
                                a(href="#")
                                    img(src="img/statya.jpg", alt="")
                            .statya_preview
                                .post_item
                                    .post_item_h
                                        .post_item_nametags
                                            a(href="#").post_item_name
                                                h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан» Aquatherm – 2017 с участием завода «Вулкан» Aquatherm – 2017 с участием завода «Вулкан»
                                    .post_item_tags
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка

                                    .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
                        .statya
                            .statya_image
                                .post_item_date
                                    b 13
                                    span фев
                                a(href="#")
                                    img(src="img/statya.jpg", alt="")
                            .statya_preview
                                .post_item
                                    .post_item_h
                                        .post_item_nametags
                                            a(href="#").post_item_name
                                                h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                                    .post_item_tags
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка
                                        a(href="#").small_button кнопка

                                    .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.




                    .with_aside_right
                        h2 ключевые слова
                        .post_item_tags
                            a(href="#").small_button вулкан
                            a(href="#").small_button дымоходы
                            a(href="#").small_button технологии
                            a(href="#").small_button пост-релиз
                            a(href="#").small_button материалы
                            a(href="#").small_button лаборатория
                            a(href="#").small_button санкт-петербург
                            a(href="#").small_button производство
                            a(href="#").small_button пост-релиз
                            a(href="#").small_button импортозамещение
                            a(href="#").small_button проект
                            a(href="#").small_button система
                            a(href="#").small_button вулкан
                            a(href="#").small_button дымоходы
                            a(href="#").small_button технологии
                            a(href="#").small_button пост-релиз
                            a(href="#").small_button материалы
                            a(href="#").small_button лаборатория
                            a(href="#").small_button санкт-петербург
                            a(href="#").small_button производство
                            a(href="#").small_button пост-релиз
                            a(href="#").small_button импортозамещение
                            a(href="#").small_button проект
                            a(href="#").small_button система
                    include ./includes/pagination.pug

        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


