<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h видео
                    .middle_heading
                        .middle_heading_name Поддержка
                    article
                        p В данном разделе вы можете посмотреть официальные видеоролики завода "Вулкан", видеоролики других пользователей, связанные с дымоходами "Вулкан", а также видеоинструкции по монтажу модульных дымоходов "Вулкан".


        .full_width
            .section
                .infoblock.infoblock_support#prefer(data-0-start="background-position:0 0;",data-0-end="background-position:0 -200px;",style="background-image: url('img/support_baner.png');")
                    .middle_heading.middle_heading__light
                        .infoblock_name Завод «Вулкан» специализируется на производстве дымоходов уже более 17 лет.
                        .infoblock_text За это время было предпринято много действий для достижения максимального качества, надежности продукции современного производства «Вулкан».
                    a(href="#").button.button__white узнать подробнее

        .main_width
            .swiper_block.stati_slider.section
                .header_block
                    .header_block_descr тематические
                    .header_block_name полезные статьи
                    .swiper_block_slider_nav
                        .swiper_block_slider_nav_prev
                        .swiper_block_slider_nav_next
                    a(href="#").button.button__yellow_d.button__yellow_darkfont.sliderbtn_pos читать все
                .swiper_block_slider.swiper-wrapper
                    .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                        .post_item
                            .post_item_h
                                .post_item_date
                                    b 13
                                    span фев
                                .post_item_nametags
                                    a(href="#").post_item_name
                                        h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                            .post_item_tags
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка

                            .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.


                    .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                        .post_item
                            .post_item_h
                                .post_item_date
                                    b 13
                                    span фев
                                .post_item_nametags
                                    a(href="#").post_item_name
                                        h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                            .post_item_tags
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка

                            .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
                    .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                        .post_item
                            .post_item_h
                                .post_item_date
                                    b 13
                                    span фев
                                .post_item_nametags
                                    a(href="#").post_item_name
                                        h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                            .post_item_tags
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка

                            .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
                    .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                        .post_item
                            .post_item_h
                                .post_item_date
                                    b 13
                                    span фев
                                .post_item_nametags
                                    a(href="#").post_item_name
                                        h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                            .post_item_tags
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка

                            .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
                    .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                        .post_item
                            .post_item_h
                                .post_item_date
                                    b 13
                                    span фев
                                .post_item_nametags
                                    a(href="#").post_item_name
                                        h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                            .post_item_tags
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка

                            .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
                    .swiper_block_slide.swiper_block_slide__cert.swiper-slide
                        .post_item
                            .post_item_h
                                .post_item_date
                                    b 13
                                    span фев
                                .post_item_nametags
                                    a(href="#").post_item_name
                                        h2 Пост-релиз: В Москве состоялась выставка Aquatherm – 2017 с участием завода «Вулкан»
                            .post_item_tags
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка
                                a(href="#").small_button кнопка

                            .post_item_text На прошлой неделе в Москве успешно состоялась традиционная отраслевая выставка Aquatherm Moscow – событие, которое каждый год  с нетерпением ждут как ведущие игроки строительного рынка, так и частные посетители. На выставке были продемонстрированы новые технологии, материалы и услуги отечественной и мировой индустрии. Посетители мероприятия смогли познакомиться как с самыми свежими, так и с уже зарекомендовавшими себя строительными и технологическими решениями рынка.
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h видео
                    h1.middle_heading видеоинструкции

        .full_width.full_width__light
            .video_row
                .video_row_item.video_row_item_stopped
                    .video
                        |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/dk9uNWPP7EA?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        .video_container#dk9uNWPP7EA(data-ytid='dk9uNWPP7EA')

                    .video_row_item_descr
                        span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                .video_row_item.video_row_item_stopped
                    .video
                        |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/K0lCbcXC2g0?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        .video_container#K0lCbcXC2g0(data-ytid='K0lCbcXC2g0')

                    .video_row_item_descr
                        span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                .video_row_item.video_row_item_stopped
                    .video
                        |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/8So9OCr_HEA?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        .video_container#8So9OCr_HEA(data-ytid='8So9OCr_HEA')
                    .video_row_item_descr
                        span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".

        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


