<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h видео
                    .middle_heading
                        .middle_heading_name видеоинструкции
                    article
                        p В данном разделе вы можете посмотреть официальные видеоролики завода "Вулкан", видеоролики других пользователей, связанные с дымоходами "Вулкан", а также видеоинструкции по монтажу модульных дымоходов "Вулкан".

        .full_width.full_width__light
            .video_row
                .video_row_item.video_row_item_stopped
                    .video
                        |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/dk9uNWPP7EA?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        .video_container#dk9uNWPP7EA(data-ytid='dk9uNWPP7EA')

                    .video_row_item_descr
                        span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                .video_row_item.video_row_item_stopped
                    .video
                        |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/K0lCbcXC2g0?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        .video_container#K0lCbcXC2g0(data-ytid='K0lCbcXC2g0')

                    .video_row_item_descr
                        span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                .video_row_item.video_row_item_stopped
                    .video
                        |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/8So9OCr_HEA?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        .video_container#8So9OCr_HEA(data-ytid='8So9OCr_HEA')
                    .video_row_item_descr
                        span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".

        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h видео
                    h1.middle_heading популярное
                
                section.video_twocolumns
                    .video_row_item.video_row_item_stopped
                        .video
                            |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Bf9GlsqbxsM?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                            .video_container#Bf9GlsqbxsM(data-ytid='Bf9GlsqbxsM')

                        .video_row_item_descr
                            span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                    .video_row_item.video_row_item_stopped
                        .video
                            |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/E5RWdbfGPd8?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                            .video_container#E5RWdbfGPd8(data-ytid='E5RWdbfGPd8')

                        .video_row_item_descr
                            span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                    .video_row_item.video_row_item_stopped
                        .video
                            |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/SbMbhccTI-8?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                            .video_container#SbMbhccTI-8(data-ytid='SbMbhccTI-8')
                        .video_row_item_descr
                            span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                    .video_row_item.video_row_item_stopped
                        .video
                            |<iframe width="100%" height="100%" src="https://www.youtube.com/embed/HNKxMs-icmU?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                            .video_container#HNKxMs-icmU(data-ytid='HNKxMs-icmU')
                        .video_row_item_descr
                            span наимнование видеозаписи. видеоинструкция по монтажу модульных дымоходов "Вулкан".
                    
                a(href="#").button.button__yellow_d.button__yellow_darkfont.button__showmore показать еще


        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


