<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h «вулкан»
                    .middle_heading
                        .middle_heading_name Обои для рабочего стола
                    article
                        p Введенные в эксплуатацию дымоходы Вулкан Изготовленные нами трубы, помимо представленных ниже, также можно увидеть:

        .full_width.full_width__light
            .main_width.main_width__white
                .wallpapers_wr
                    .wallpaper_item
                        img(src="img/wall1.png", alt="")
                        .wallpaper_item_dwnlds
                            .wallpaper_item_phone
                                .wallpaper_item_dim
                                    a(href="#") 640x1136
                            .wallpaper_item_tablet
                                .wallpaper_item_dim
                                    a(href="#") 800x1280
                            .wallpaper_item_desktop
                                .wallpaper_item_dim
                                    a(href="#") 1024x768
                                    a(href="#") 1280x1024
                                    a(href="#") 1920x1080
                    .wallpaper_item
                        img(src="img/wall2.png", alt="")
                        .wallpaper_item_dwnlds
                            .wallpaper_item_phone
                                .wallpaper_item_dim
                                    a(href="#") 640x1136
                            .wallpaper_item_tablet
                                .wallpaper_item_dim
                                    a(href="#") 800x1280
                            .wallpaper_item_desktop
                                .wallpaper_item_dim
                                    a(href="#") 1024x768
                                    a(href="#") 1280x1024
                                    a(href="#") 1920x1080
                    .wallpaper_item
                        img(src="img/wall3.png", alt="")
                        .wallpaper_item_dwnlds
                            .wallpaper_item_phone
                                .wallpaper_item_dim
                                    a(href="#") 640x1136
                            .wallpaper_item_tablet
                                .wallpaper_item_dim
                                    a(href="#") 800x1280
                            .wallpaper_item_desktop
                                .wallpaper_item_dim
                                    a(href="#") 1024x768
                                    a(href="#") 1280x1024
                                    a(href="#") 1920x1080
                    .wallpaper_item
                        img(src="img/wall4.png", alt="")
                        .wallpaper_item_dwnlds
                            .wallpaper_item_phone
                                .wallpaper_item_dim
                                    a(href="#") 640x1136
                            .wallpaper_item_tablet
                                .wallpaper_item_dim
                                    a(href="#") 800x1280
                            .wallpaper_item_desktop
                                .wallpaper_item_dim
                                    a(href="#") 1024x768
                                    a(href="#") 1280x1024
                                    a(href="#") 1920x1080

        //-         .objects_tags.filter
        //-             a(href="javascript://",data-filter=".category-a").object_tag
        //-                 img(src="img/mansion.png", alt="")
        //-                 span Для частных
        //-                     | <br> клиентов
        //-             a(href="javascript://",data-filter=".category-b").object_tag
        //-                 img(src="img/prom.png", alt="")
        //-                 span Для промышленных
        //-                     | <br> объектов
        //-             a(href="javascript://",data-filter=".category-c").object_tag
        //-                 img(src="img/humans_builds.png", alt="")
        //-                 span Поквартирное
        //-                     | <br> отопление

        //-         section
        //-             .pre_h объекты
        //-             h1.middle_heading для частных клиентов

        //-             .objects_list_items
        //-                 a(href='img/cat1.png').objects_list_item.mix.category-a
        //-                     img(src="img/cat1.png", alt="")
        //-                 a(href='img/cat2.png').objects_list_item.mix.category-b
        //-                     img(src="img/cat2.png", alt="")
        //-                 a(href='img/cat3.jpg').objects_list_item.category-b.category-c
        //-                     img(src="img/cat3.jpg", alt="")
        //-                 a(href='img/cat6.jpg').objects_list_item.objects_list_item__2height.mix.category-a
        //-                     img(src="img/cat6.jpg", alt="")
        //-                 a(href='img/cat5.jpg').objects_list_item.objects_list_item__2width.mix.category-a
        //-                     img(src="img/cat5.jpg", alt="")
        //-                 a(href='img/cat6.jpg').objects_list_item.mix.category-a
        //-                     img(src="img/cat6.jpg", alt="")
        //-                 a(href='img/cat1.png').objects_list_item.mix.category-a
        //-                     img(src="img/cat1.png", alt="")
        //-                 a(href='img/cat2.png').objects_list_item.mix.category-b
        //-                     img(src="img/cat2.png", alt="")
        //-                 a(href='img/cat6.jpg').objects_list_item.objects_list_item__2width.mix.category-a
        //-                     img(src="img/cat6.jpg", alt="")
        //-                 .grid-sizer
        //-                 .gutter-sizer



        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug


